body {

}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;

	box-sizing: border-box;
}

.arena {
	width:800px;
	height:350px;
	border:1px solid black;
	position: relative;
}

.arena [aria-selected="true"] > .outer-editable {
	border:1px solid red;
}

.arena [aria-selected="true"].resizing-mode > .outer-editable {
	border-color: #00ffff;
}

.info-box {
	position: absolute;
	top:0;
	right:0;
	width:200px;
	background-color: yellow;
}
