body {

}

.arena {
	width:800px;
	height:350px;
	border:1px solid black;
	position: relative;
}

.arena .button {
	width:100px;
	height:75px;
	background-color: red;
	position: absolute;
}

.arena .box {
	width:300px;
	height:200px;
	background-color: yellow;
	position: absolute;
}
.arena .box2 {
	background-color: green;
}

.arena .box3 {
	background-color: blue;
}

.arena [aria-selected="true"] {
	border:1px solid black;
	margin:-1px 0 0 -1px;
}


.widget-feature.resize {
	position: absolute;
}

.widget-feature.resize .square {
	width:10px;
	height:10px;
	border:1px solid #00ffff;
	position: absolute;
}

.widget-feature.resize .square.direction_n {

}

.widget-feature.resize .square.direction_nw {

}

.widget-feature.resize .square.direction_w {

}

.widget-feature.resize .square.direction_sw {

}

.widget-feature.resize .square.direction_s {

}

.widget-feature.resize .square.direction_se {

}

.widget-feature.resize .square.direction_e {

}

.widget-feature.resize .square.direction_ne {

}